

.btn-info {
    border-color: #3cefff;
	color: black;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77afe4), color-stop(60%, #77afe4), to(#77afe4));
    background-image: linear-gradient(#77afe4, #77afe4 60%, #77afe4);
    background-repeat: no-repeat;
}

.mt {
	margin-top: 15%;
}

.message-restier-user {
	position: absolute;
	margin-top: -20%;
	width: 95%;
	background-color:yellowgreen;
}

.register-user {
	margin-top: -15px;
}

.btn-back {
	width: auto;
}

